async/src/main/app/async.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8085" doc:name="HTTP Listener Configuration"/>
    <vm:connector name="auditing" validateConnections="true" doc:name="VM"/>
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <flow name="asyncFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/async" doc:name="HTTP"/>
        <byte-array-to-string-transformer mimeType="application/json" doc:name="Byte Array to String"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
      
            <vm:outbound-endpoint exchange-pattern="request-response" path="auditing" connector-ref="VM" doc:name="VM">
                <xa-transaction action="NONE"/>
            </vm:outbound-endpoint>
        
        <set-payload value="{
&quot;message&quot; : &quot;posted to queue successfully&quot;
}" mimeType="application/json" doc:name="Set Payload"/>
    </flow>
    <flow name="asyncFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="auditing" connector-ref="VM" doc:name="VM">
            <xa-transaction action="NONE"/>
        </vm:inbound-endpoint>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[sleep(1000)]]></scripting:script>
        </scripting:component>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
