apps-aug-24-2020/src/main/app/choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="choiceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/choice" doc:name="HTTP"/>
        <byte-array-to-string-transformer mimeType="application/xml" doc:name="Byte Array to String"/>
        <set-variable variableName="id" value="#[xpath3('//Employees/Employee/id',payload,'STRING')]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.id=='100']">
                <logger message="Success" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="else" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
