groovy/src/main/app/groovy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="HTTP_Listener_Connector" host="0.0.0.0" port="8093" doc:name="HTTP Listener Configuration"/>
    
    <flow name="groovyFlow">
        <http:listener config-ref="HTTP_Listener_Connector" path="/groovy1" doc:name="HTTP"/>
        <scripting:transformer doc:name="Groovy">
            <scripting:script engine="Groovy">
            <![CDATA[Integer.parseInt(num1)+Integer.parseInt(num2)
]]>
                <property key="num1" value="#[json:num1]"/>
                <property key="num2" value="#[json:num2]"/>
                  <property key="num3" value="#[json:num3]"/>
            </scripting:script>
        </scripting:transformer>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
    <flow name="groovyFlow1">
        <http:listener config-ref="HTTP_Listener_Connector" path="/groovy3" doc:name="HTTP"/>
        <set-variable variableName="num1" value="#[json:num1]" doc:name="Variable"/>
        <set-variable variableName="num4" value="#[json:num4]" doc:name="Variable"/>
        <scripting:transformer doc:name="Groovy">
            <scripting:script engine="Groovy" file="E:\Mule\Documents\Groovy\script.txt"/>
        </scripting:transformer>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
    <flow name="groovyFlow2">
        <http:listener config-ref="HTTP_Listener_Connector" path="/groovy2" doc:name="HTTP"/>
        <scripting:transformer doc:name="Groovy">
            <scripting:script engine="Groovy">
            <![CDATA[sleep(10000)
Integer.parseInt(num1)+Integer.parseInt(num3)
]]>
                <property key="num1" value="#[json:num1]"/>
                <property key="num2" value="#[json:num2]"/>
                  <property key="num3" value="#[json:num3]"/>
            </scripting:script>
        </scripting:transformer>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
</mule>
