apps-aug-25-2020/src/main/app/DatabaseSelect.xml
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
<db:generic-config name="Generic_Database_Configuration"
url="jdbc:sqlserver://localhost:1433;databaseName=test;user=aspire;password=Aspire@123" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
doc:name="Generic Database Configuration" />
<http:listener-config name="HTTP_Listener_Configuration"
host="localhost" port="8088"  doc:name="HTTP Listener Configuration" />
<flow name="messageEnricherFlow">
<http:listener config-ref="HTTP_Listener_Configuration"
path="/enricher" doc:name="HTTP" />
<byte-array-to-string-transformer
doc:name="Byte Array to String" mimeType="application/json"/>
        <enricher doc:name="Message Enricher">
            <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
                <db:dynamic-query><![CDATA[select * from [dbo].[test] where id=#[json:id]]]></db:dynamic-query>
            </db:select>
        </enricher>
     

        <logger message="#[flowVars.status]" level="INFO" doc:name="Logger"/>
        
    
                
           
</flow>
</mule>